VITE_AUTH_API_BASE_URL=http://localhost:3000/api
VITE_SUPPLIER_API_BASE_URL=http://localhost:3001/api
VITE_ORDER_API_BASE_URL=http://localhost:3002/api
VITE_CREDIT_API_BASE_URL=http://localhost:3003/api